<strong>
    Hey, Roupas Flash!
</strong>

<p>
    A new suggestion has arrived from: <%= user %> --> <%= email %>:
    <p id="message">
        <strong>
            <h3>
                Message:
            </h3>
        </strong>
        <%= message %> 
    </p>
</p>