<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="/stylesheets/css/admin.css">
</head>
<body class="page-404">

    <div class="title">
        <h1>
            Error 404.<br> Page not found <br>
            <a class="btn btn-primary" href="/">Home</a>
        </h1>
    </div>

    <div class="image">
        <img src="/images/astronaut.jpg" alt="">
    </div>

</body>

</html>