<%- include('./layouts/header.ejs')  %> 

<% if (slug == 'home') { %>
    <div class="home-page">
        <%- content %> 
    </div>
<% } else { %>
        <%- content %> 
<% } %>
    
<%- include('./layouts/footer.ejs')  %> 
