<strong>
    Hey, <%= paymentDescription.Buyer.username %>! 
</strong>

<p>
    Thanks for shopping with us!
    It's an honor to have you as a customer.
    Your purchase has been approved in the value of 
    R$ <strong> <%= paymentDescription.total %></strong>
    and that's why we are sending your voucher. 
    Now just wait and enjoy! Good shopping.
</p>